
    <div class="topbar" style="text-align: center;">
        <p>MEDICAL HEALTH ROBOT SYSTEM SERVICES</p>
    </div><!--  topbar -->

    <div class="robottopic">
        <p>Robot</p>
    </div><!-- robottopic -->
    

    <div class="robot">  
        <h2>
            Using robot for help to patients. This robot can help to in  home patient measuring blood pressure, body temperature easily. Not only if patient wants listning radio or music track who can tell it for robot and after robot do it using that instruction. Also robot can remember something to patient. As an example when patient forget medicine time, robot can remember it ontime. Also robot has a camera, doctor and custodian can see the patient using that features.
        </h2>

         <img src="assets/Service/robot.jpg" alt="robot">
    </div><!--  robot -->

    <div class="apptopic">
        <p>Mobile Application</p>
    </div><!-- apptopic -->

    <div class="app">
        <img src="assets/Service/app.jpg" alt="app">

        <h2>
            Using mobile application for this system to give commands and control the robot. Patient or custodian can use this app and who can give the voice command to this app. Then robot working according to the instructions.
        </h2>
    </div><!--  app -->

    <div class="webtopic">
        <p>Web Application</p>
    </div><!-- webtopic -->

    <div class="web">
        <h2>
            Doctor and custodian can use this web application to check the patient's condition using web camera and maintain patient's some informations. Then doctor or custodian can using this and check the patients medical history and what are the used medicines and for what reasons.
        </h2>

        <img src="assets/Service/web.jpg" alt="app">

    </div><!-- web -->


    <div class="contact">

        <div class="contactname">
            <p>Contact</p>    
        </div><!--  contactname --> 


        <div class="socialname">
            <p>Social media</p>    
        </div><!--  socialname -->

    </div><!-- contact -->

