<mat-toolbar color="primary">

  <div class="main__toolbar">

    <div class="logo">
      <img src="../assets/robo.jpg" alt="logo">
    </div>

    <span class="robo">
      <a mat-button routerLink="/"> MEDIC ROBOT </a>
    </span>

    <span> <a mat-button routerLink="/"> Home </a> </span>
    <span> <a mat-button routerLink="/service"> Service </a> </span>
    <ng-container *ngIf="!isAuth">
      <span> <a mat-button routerLink="/signup"> Sign up </a> </span>
      <span> <a mat-button routerLink="/login"> Login </a> </span>
    </ng-container>

    <ng-container *ngIf="isAuth">
      <span> <a mat-button routerLink="/patients"> Patients </a> </span>
      <span> <button mat-button (click)="onLogout()">Logout</button> </span>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
