<div class="new1 row" >
	<div class="col-md-6">
        <br><br>
        <h4>Hello!</h4>
        <br><br>
        <h6>You are here ...</h6>
		<br>
		<div class="dis">
		<p>We create medical robots for your requirement. Look after your loving differently abled lovings with the help with our special robots. </p>	
		</div>
	</div>
	<div class="col-md-6">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="assets/Home/imag1.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="assets/Home/imag2.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="assets/Home/imag3.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</a>
		  </div>


	</div>
</div>

 
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="assets/Home/imag5.jpg" width="100%">
		<div class="carousel-caption d-none d-md-block">
		  <h5>Help your old parents with our robots: The place robots in healthcare</h5>
		  
		</div>
	  </div>
	 
	  
	</div>
	
	
  </div>

  <div class="contact">

	<div class="contactname">
		<p>Contact</p>    
	</div><!--  contactname --> 


	<div class="socialname">
		<p>Social media</p>    
	</div><!--  socialname -->

</div><!-- contact -->
